/* General Styles */

body {
  background-color: #F44336;
  color: #fff;
}

.nav a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;;
}

.nav a:hover {
  color: #000;
}

.client-table {
  font-size: 3rem;
  width: 1200px;
  margin: 0 auto;
}

/* Landing Body */

.general-container {
  border-top: 14px solid #D32F2F;
  text-align: center;
}

.client-container h1 {
  font-size: 6rem;
  margin-top: 0;
  padding-bottom: 30px
}

.client-container h2 {
  color: #FFCDD2;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  text-transform: lowercase;
}

.client-container h3 {
  border-bottom: 2px solid #B6B6B6;;
  font-size: 2rem;
  padding-bottom: 20px;
}

.client-container li {
  border-bottom: 2px solid #B6B6B6;;
  font-size: 2rem;
  padding-bottom: 20px;
  padding-top: 20px;
}

.client-container a {
  color: #fff;
}

.client-container ul {
  padding-left: 0;
  list-style: none;
}

.resolutions li {
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.landing {
  position: relative;
  transform: translateY(75%);
}

.landing h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14rem;
  margin: 0;
}

.landing p {
  color: #FFCDD2;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
}

.landing a {
  background-color: #9E9E9E;
  color: rgb(255, 255, 255);
  border-color: rgb(158, 158, 158);
  font-size: 2.5rem;
  margin-top: 22px;
}

/* Signup Body */

.signup {
  text-align: left;
}

.signup h1 {
  margin-bottom: 30px;
  font-size: 5em;
}

.signup-form label {
  font-size: 2rem;
  color: #FFCDD2;
}

.signup-form button {
  background-color: #9E9E9E;
  border: #9E9E9E;
  color: #fff;
  margin-top: 12px;
}

/* Statistics */

.well {
  background-color: #D32F2F;
  border-color: #D32F2F;
}

.event-header {
  border-top: 0;
  margin-top: -20px;
  padding-left: 25px;
}

.event-header h1 {
  font-size: 5rem;
}

.event-header p {
  font-size: 2.5rem;
}
