<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display" rel="stylesheet" type="text/css"> -->


<section class="landing">
  <h1>HAMALYTICS</h1>
  <p>Going H.A.M for all your analytical needs!</p>
  <a class="btn btn-default btn-lg" href="/signup">Sign up</a>
</section>
