<div class="general-container">
  <section class="container signup">
    <h1>Sign up</h1>

    <form action="/sources" method="POST" class="signup-form">
      <div class="form-group">
        <label for="identifier">Identifier</label>
        <input type="text" class="form-control" id="identifier" name="identifier" placeholder="Company name">
      </div>
      <div class="form-group">
        <label for="rootUrl">Root URL</label>
        <input type="text" class="form-control" id="rootUrl" name="rootUrl" placeholder="Root URL">
      </div>
      <button type="submit" class="btn btn-default btn-lg">Create Account</button>
    </form>
  </section>
</div>
